extends layout

block content
    head 
        //script(type="text/javascript" src="../scripts/reportDate.js")
        //script(type="text/javascript" src="https://momentjs.com/downloads/moment.js")
        script(type="text/javascript" src="../scripts/age6.js")
    div.container
        form(action="/students/add" method="POST")
            div.jumbotron
                div.row
                    div.col-xl-12
                        h1.text-center.text-primary Badania Przesiewowe  
                                div.row
                    div.col-xl-12
                        - var inputDateClasses = ["form-control"]
                        label.text-secondary Imię i nazwisko
                        br
                        input(class=inputDateClasses required autofocus name="name" type="text" placeholder="Imię i nazwisko")
                        br
                        label.text-secondary Data urodzenia (ROK-MIESIĄC-DZIEŃ)
                        br
                        input(name="date" id="dateInput" required class=inputDateClasses type="text" placeholder="YYYY-MM-DD" onChange="countAge()")
                div.row
                    div.col-xl-12
                        //- h6.text-center.text-info Aktualnie badane dziecko: #{name}.
                        //- input(type="hidden" name="name" value=name)
                        input( type="hidden" name="age" value="age6")           
                div.row
                    div.col-xl-12
                        h3.text-center.text-primary Lateralizacja
                        select.form-control(name="lat")
                            option(value="prawostronna") Prawostronna
                            option(value="lewostronna") Lewostronna
                            option(value="O-P; R-L") O-P; R-L
                            option(value="O-L; R-P") O-L; R-P
                            option(value="Nieustalona") Nieustalona                                                        
                div.row
                    div.col-xl-12
                        h3.text-center.text-primary Funkcje słuchowe
                div.row
                    div.col-xl-12
                        p.text-center.text-danger(id="age") Wiek: #{date}
                        //- input(type="hidden" name="date" value=date)                       
                div.row
                    div.col-xl-6
                        h5.text-secondary.text-center Analiza
                        p.half(id="an1") NOS
                        //- select.form-control.half(name="an1" onchange="countAnaliza()")
                        //-     option(value="1") dobrze
                        //-     option(value="0") źle
                        p.half(id="an2") KAWA
                        //- select.form-control.half(name="an2" onchange="countAnaliza()")
                        //-     option(value="1") dobrze
                        //-     option(value="0") źle
                        p.half(id="an3") KOTEK
                        //- select.form-control.half(name="an3" onchange="countAnaliza()")
                        //-     option(value="1") dobrze
                        //-     option(value="0") źle
                        p.half(id="an4") BALON
                        //- select.form-control.half(name="an4" onchange="countAnaliza()")
                        //-     option(value="1") dobrze
                        //-     option(value="0") źle
                        p.half(id="an5") FASOLA
                        //- select.form-control.half(name="an5" onchange="countAnaliza()")
                        //-     option(value="1") dobrze
                        //-     option(value="0") źle
                        p.half(id="an6") BARANEK
                        //- select.form-control.half(name="an6" onchange="countAnaliza()")
                        //-     option(value="1") dobrze
                        //-     option(value="0") źle
                        p.half(id="an7") KARTKA
                        //- select.form-control.half(name="an7" onchange="countAnaliza()")
                        //-     option(value="1") dobrze
                        //-     option(value="0") źle
                        p.half(id="an8") KOSTKA
                        //- select.form-control.half(name="an8" onchange="countAnaliza()")
                        //-     option(value="1") dobrze
                        //-     option(value="0") źle
                        select.form-control.half(name="ana" onchange="countAnaliza()")
                            option(value="0") 0
                            option(value="1") 1
                            option(value="2") 2
                            option(value="3") 3
                            option(value="4") 4
                            option(value="5") 5
                            option(value="6") 6
                            option(value="7") 7
                            option(value="8") 8     
                        h6#wynikAnaliza Wynik: niski
                    div.col-xl-6
                        h5.text-secondary.text-center Synteza
                        p.half(id="sy1") M-U-R
                        //- select.form-control.half(name="sy1" onchange="countSynteza()")
                        //-     option(value="1") dobrze
                        //-     option(value="0") źle
                        p.half(id="sy2") N-O-G-A
                        //- select.form-control.half(name="sy2" onchange="countSynteza()")
                        //-     option(value="1") dobrze
                        //-     option(value="0") źle
                        p.half(id="sy3") K-R-O-W-A
                        //- select.form-control.half(name="sy3" onchange="countSynteza()")
                        //-     option(value="1") dobrze
                        //-     option(value="0") źle
                        p.half(id="sy4") D-R-O-G-A
                        //- select.form-control.half(name="sy4" onchange="countSynteza()")
                        //-     option(value="1") dobrze
                        //-     option(value="0") źle
                        p.half(id="sy5") Z-E-G-A-R-Y
                        //- select.form-control.half(name="sy5" onchange="countSynteza()")
                        //-     option(value="1") dobrze
                        //-     option(value="0") źle
                        p.half(id="sy6") K-O-R-O-N-A
                        //- select.form-control.half(name="sy6" onchange="countSynteza()")
                        //-     option(value="1") dobrze
                        //-     option(value="0") źle
                        p.half(id="sy7") K-R-E-S-K-A
                        //- select.form-control.half(name="sy7" onchange="countSynteza()")
                        //-     option(value="1") dobrze
                        //-     option(value="0") źle
                        p.half(id="sy8") K-R-O-M-K-A
                        //- select.form-control.half(name="sy8" onchange="countSynteza()")
                        //-     option(value="1") dobrze
                        //-     option(value="0") źle
                        select.form-control.half(name="syn" onchange="countSynteza()")
                            option(value="0") 0
                            option(value="1") 1
                            option(value="2") 2
                            option(value="3") 3
                            option(value="4") 4
                            option(value="5") 5
                            option(value="6") 6
                            option(value="7") 7
                            option(value="8") 8                                                       
                        h6#wynikSynteza Wynik: niski        
                .row
                    .col-xl-12
                        h4.text-primary.text-center Artykulacja głosek

                .row
                    .col.xl-12
                        p m   t   k   l   d   u   r   w   p   s   g   n   b   z   ł   j   c  f  sz   cz   ż   dz   dź   dż rak  sok  cebula  zegar  dzwonek   szafa  czapka  żaba  ślimak  ćma  źrebak
                        select.form-control.half(name="artykulacja")
                            option(value="0") do konsultacji logopedycznej
                            option(value="1") wada wymowy
                            option(value="2") mowa prawidłowa
                .row
                    .col-xl-12
                        h4.text-primary.text-center Przerysowywanie Figur
                .row
                    .col-xl-6
                        p.half(id="pf1") Krzyż
                        select#pff1.form-control.half(name="pf1" onChange="countPoints()")
                            option(value="0") 0
                            option(value="1") 1
                            option(value="2") 2 
                        p.half(id="pf2") Koło
                        select#pff2.form-control.half(name="pf2" onChange="countPoints()")
                            option(value="0") 0
                            option(value="1") 1
                            option(value="2") 2 
                        p.half(id="pf3") Kwadrat
                        select#pff3.form-control.half(name="pf3" onChange="countPoints()")
                            option(value="0") 0
                            option(value="1") 1
                            option(value="2") 2 
                    .col-xl-6
                        p.half(id="pf4") Trójkąt
                        select#pff4.form-control.half(name="pf4" onChange="countPoints()")
                            option(value="0") 0
                            option(value="1") 1
                            option(value="2") 2 
                        p.half(id="pf5") Cukierek
                        select#pff5.form-control.half(name="pf5" onChange="countPoints()")
                            option(value="0") 0
                            option(value="1") 1
                            option(value="2") 2 
                        p.half(id="pf6") Okienko
                        select#pff6.form-control.half(name="pf6" onChange="countPoints()")
                            option(value="0") 0
                            option(value="1") 1
                            option(value="2") 2
                    .col-xl-12
                        h4.info Suma:
                        input#output.form-control(type="number" readonly)
                        h6#wynikFigury Wynik: niski     
                .row
                    .col-xl-12
                        h4.text-primary.text-center Uwagi
                .row
                    .col-xl-12
                      a.btn.btn-primary()
    
                    .col-xl-12#uwagiBox
                        input.uwaga.btn.btn-secondary(type="button" onClick="dodajUwage(this.value)" value="Objecie pomocą psychologiczno-pedagogiczną w formie zajęć korekcyjno-kompensacyjnych, przy systematycznym wykonywaniu w domu zalecanych przez nauczyciela ćwiczeń. ")
                        input.uwaga.btn.btn-secondary(type="button" onClick="dodajUwage(this.value)" value="Wykonywanie w domu ćwiczeń usprawniających osłabione funkcje według instruktażu nauczyciela. ")
                        input.uwaga.btn.btn-secondary(type="button" onClick="dodajUwage(this.value)" value="Terapia logopedyczna. ")
                        input.uwaga.btn.btn-secondary(type="button" onClick="dodajUwage(this.value)" value="Konsultacja okulistyczna. ")
                        input.uwaga.btn.btn-secondary(type="button" onClick="dodajUwage(this.value)" value="Konsultacja laryngologiczna. ")
                        input.uwaga.btn.btn-secondary(type="button" onClick="dodajUwage(this.value)" value="Konsultacja neurologiczna. ")
                        input.uwaga.btn.btn-secondary(type="button" onClick="dodajUwage(this.value)" value="Badanie słuchu. ")
                        input.uwaga.btn.btn-secondary(type="button" onClick="dodajUwage(this.value)" value="Wzmożona ruchliwość. ")
                        input.uwaga.btn.btn-secondary(type="button" onClick="dodajUwage(this.value)" value="Niska dojrzałość zadaniowa. ")
                        input.uwaga.btn.btn-secondary(type="button" onClick="dodajUwage(this.value)" value="Wolne tempo pracy. ")
                        input.uwaga.btn.btn-secondary(type="button" onClick="dodajUwage(this.value)" value="Trudności z koncentracją uwagi. ")
                        input.uwaga.btn.btn-secondary(type="button" onClick="dodajUwage(this.value)" value="Pośpiech, pochopność w działaniu. ")
                        input.uwaga.btn.btn-secondary(type="button" onClick="dodajUwage(this.value)" value="Nieprawidłowy chwyt ołówka. ")
                        input.uwaga.btn.btn-secondary(type="button" onClick="dodajUwage(this.value)" value="Osłabiona sprawność grafomotoryczna. ")
                        input.uwaga.btn.btn-secondary(type="button" onClick="dodajUwage(this.value)" value="Tiki. ")
                        input.uwaga.btn.btn-secondary(type="button" onClick="dodajUwage(this.value)" value="Objęcie okresową pomocą w formie zajęć korekcyjno-kompensacyjnych. ")
                        input.uwaga.btn.btn-secondary(type="button" onClick="dodajUwage(this.value)" value="Do usprawniania analiza wyrazów dłuższych. ")
                        input.uwaga.btn.btn-secondary(type="button" onClick="dodajUwage(this.value)" value="Do usprawniania synteza wyrazów dłuższych. ")
                        input.uwaga.btn.btn-secondary(type="button" onClick="dodajUwage(this.value)" value="Do usprawniania pamięć słuchowa. ")
                .row
                    .col-xl-12
                        textarea.form-control#uwagi(name="uwagi", rows="4")
                        br
                        input.btn.btn-success.btn-block(type="submit" value="Dodaj ucznia do listy")
        form(action="/")
            input.back.btn.btn-danger(type="submit" value="Wstecz")
        form(action="/auth/logout")
            input.logout.btn.btn-danger(type="submit" value="Wyloguj")
